USE [master]
GO
/****** Object:  Database [hc_benefit_information_portal]    Script Date: 04/08/2026 10:34:06 ******/
CREATE DATABASE [hc_benefit_information_portal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hc_benefit_information_portal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hc_benefit_information_portal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hc_benefit_information_portal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hc_benefit_information_portal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hc_benefit_information_portal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hc_benefit_information_portal]
GO
/****** Object:  Table [dbo].[admin_roles]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AdminRoles_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin_user_categories]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_user_categories](
	[admin_user_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_user_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin_users]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[nama] [varchar](200) NOT NULL,
	[email] [varchar](255) NULL,
	[admin_role_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login_at] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AdminUsers_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benefit_amount_matrix]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_amount_matrix](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[benefit_id] [int] NOT NULL,
	[cabang_id] [int] NULL,
	[golongan_id] [int] NULL,
	[pangkat_id] [int] NULL,
	[kelompok_jabatan_id] [int] NULL,
	[status_keluarga_id] [int] NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benefit_details]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[benefit_id] [int] NOT NULL,
	[section_title_id] [int] NOT NULL,
	[content] [text] NULL,
	[sort_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benefit_roles]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_roles](
	[benefit_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[benefit_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benefit_tags]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_tags](
	[benefit_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
 CONSTRAINT [PK_benefit_tags] PRIMARY KEY CLUSTERED 
(
	[benefit_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benefits]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[slug] [varchar](200) NULL,
	[description] [text] NULL,
	[category_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[limitbymatrix] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[icon] [varchar](100) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_log]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[question] [nvarchar](max) NOT NULL,
	[answer_preview] [nvarchar](max) NULL,
	[status] [nvarchar](20) NOT NULL,
	[is_emailed] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nrp] [varchar](20) NOT NULL,
	[nama] [varchar](200) NOT NULL,
	[tanggal_lahir] [date] NOT NULL,
	[golongan_id] [int] NULL,
	[cabang_id] [int] NULL,
	[pangkat_id] [int] NULL,
	[kelompok_jabatan_id] [int] NULL,
	[status_keluarga_id] [int] NULL,
	[role_id] [int] NULL,
	[role_source] [varchar](20) NOT NULL,
	[role_overridden_by] [int] NULL,
	[role_overridden_at] [datetime] NULL,
	[is_active] [bit] NOT NULL,
	[data_source] [varchar](20) NOT NULL,
	[last_synced_at] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Employees_NRP] UNIQUE NONCLUSTERED 
(
	[nrp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faq]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faq](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[benefit_id] [int] NOT NULL,
	[question] [varchar](255) NOT NULL,
	[answer] [text] NULL,
	[sort_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_attempts_log]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_attempts_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nrp] [varchar](20) NOT NULL,
	[success] [bit] NOT NULL,
	[ip_address] [varchar](45) NULL,
	[attempted_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_cabang]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_cabang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](100) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MCabang_Code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_golongan]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_golongan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](10) NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MGolongan_Code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_kelompok_jabatan]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_kelompok_jabatan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](100) NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MKelJab_Code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_pangkat]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_pangkat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](100) NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MPangkat_Code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_status_keluarga]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_status_keluarga](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](10) NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MStatusKeluarga_Code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[section_titles]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[section_titles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_section_titles_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 04/08/2026 10:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tags_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_BAM_BenefitId]    Script Date: 04/08/2026 10:34:06 ******/
CREATE NONCLUSTERED INDEX [IX_BAM_BenefitId] ON [dbo].[benefit_amount_matrix]
(
	[benefit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatLog_Email]    Script Date: 04/08/2026 10:34:06 ******/
CREATE NONCLUSTERED INDEX [IX_ChatLog_Email] ON [dbo].[chat_log]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatLog_Status]    Script Date: 04/08/2026 10:34:06 ******/
CREATE NONCLUSTERED INDEX [IX_ChatLog_Status] ON [dbo].[chat_log]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_IsActive]    Script Date: 04/08/2026 10:34:06 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_IsActive] ON [dbo].[employees]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_NRP_TglLahir]    Script Date: 04/08/2026 10:34:06 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_NRP_TglLahir] ON [dbo].[employees]
(
	[nrp] ASC,
	[tanggal_lahir] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[admin_users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[benefit_amount_matrix] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[benefit_amount_matrix] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[benefits] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[benefits] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[benefits] ADD  DEFAULT ((0)) FOR [limitbymatrix]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chat_log] ADD  DEFAULT ((0)) FOR [is_emailed]
GO
ALTER TABLE [dbo].[chat_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ('rule') FOR [role_source]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ('excel_import') FOR [data_source]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[login_attempts_log] ADD  DEFAULT (getdate()) FOR [attempted_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_user_categories]  WITH CHECK ADD  CONSTRAINT [FK_AUC_AdminUser] FOREIGN KEY([admin_user_id])
REFERENCES [dbo].[admin_users] ([id])
GO
ALTER TABLE [dbo].[admin_user_categories] CHECK CONSTRAINT [FK_AUC_AdminUser]
GO
ALTER TABLE [dbo].[admin_user_categories]  WITH CHECK ADD  CONSTRAINT [FK_AUC_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[admin_user_categories] CHECK CONSTRAINT [FK_AUC_Category]
GO
ALTER TABLE [dbo].[admin_users]  WITH CHECK ADD  CONSTRAINT [FK_AdminUsers_Role] FOREIGN KEY([admin_role_id])
REFERENCES [dbo].[admin_roles] ([id])
GO
ALTER TABLE [dbo].[admin_users] CHECK CONSTRAINT [FK_AdminUsers_Role]
GO
ALTER TABLE [dbo].[benefit_amount_matrix]  WITH CHECK ADD  CONSTRAINT [FK_BAM_Benefit] FOREIGN KEY([benefit_id])
REFERENCES [dbo].[benefits] ([id])
GO
ALTER TABLE [dbo].[benefit_amount_matrix] CHECK CONSTRAINT [FK_BAM_Benefit]
GO
ALTER TABLE [dbo].[benefit_amount_matrix]  WITH CHECK ADD  CONSTRAINT [FK_BAM_Cabang] FOREIGN KEY([cabang_id])
REFERENCES [dbo].[m_cabang] ([id])
GO
ALTER TABLE [dbo].[benefit_amount_matrix] CHECK CONSTRAINT [FK_BAM_Cabang]
GO
ALTER TABLE [dbo].[benefit_amount_matrix]  WITH CHECK ADD  CONSTRAINT [FK_BAM_Golongan] FOREIGN KEY([golongan_id])
REFERENCES [dbo].[m_golongan] ([id])
GO
ALTER TABLE [dbo].[benefit_amount_matrix] CHECK CONSTRAINT [FK_BAM_Golongan]
GO
ALTER TABLE [dbo].[benefit_amount_matrix]  WITH CHECK ADD  CONSTRAINT [FK_BAM_KelJab] FOREIGN KEY([kelompok_jabatan_id])
REFERENCES [dbo].[m_kelompok_jabatan] ([id])
GO
ALTER TABLE [dbo].[benefit_amount_matrix] CHECK CONSTRAINT [FK_BAM_KelJab]
GO
ALTER TABLE [dbo].[benefit_amount_matrix]  WITH CHECK ADD  CONSTRAINT [FK_BAM_Pangkat] FOREIGN KEY([pangkat_id])
REFERENCES [dbo].[m_pangkat] ([id])
GO
ALTER TABLE [dbo].[benefit_amount_matrix] CHECK CONSTRAINT [FK_BAM_Pangkat]
GO
ALTER TABLE [dbo].[benefit_amount_matrix]  WITH CHECK ADD  CONSTRAINT [FK_BAM_StatusKeluarga] FOREIGN KEY([status_keluarga_id])
REFERENCES [dbo].[m_status_keluarga] ([id])
GO
ALTER TABLE [dbo].[benefit_amount_matrix] CHECK CONSTRAINT [FK_BAM_StatusKeluarga]
GO
ALTER TABLE [dbo].[benefit_details]  WITH CHECK ADD  CONSTRAINT [FK_benefit_details_benefits] FOREIGN KEY([benefit_id])
REFERENCES [dbo].[benefits] ([id])
GO
ALTER TABLE [dbo].[benefit_details] CHECK CONSTRAINT [FK_benefit_details_benefits]
GO
ALTER TABLE [dbo].[benefit_details]  WITH CHECK ADD  CONSTRAINT [FK_benefit_details_section_titles] FOREIGN KEY([section_title_id])
REFERENCES [dbo].[section_titles] ([id])
GO
ALTER TABLE [dbo].[benefit_details] CHECK CONSTRAINT [FK_benefit_details_section_titles]
GO
ALTER TABLE [dbo].[benefit_roles]  WITH CHECK ADD  CONSTRAINT [FK_BenefitRoles_Benefit] FOREIGN KEY([benefit_id])
REFERENCES [dbo].[benefits] ([id])
GO
ALTER TABLE [dbo].[benefit_roles] CHECK CONSTRAINT [FK_BenefitRoles_Benefit]
GO
ALTER TABLE [dbo].[benefit_roles]  WITH CHECK ADD  CONSTRAINT [FK_BenefitRoles_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[benefit_roles] CHECK CONSTRAINT [FK_BenefitRoles_Role]
GO
ALTER TABLE [dbo].[benefit_tags]  WITH CHECK ADD  CONSTRAINT [FK_benefit_tags_benefits] FOREIGN KEY([benefit_id])
REFERENCES [dbo].[benefits] ([id])
GO
ALTER TABLE [dbo].[benefit_tags] CHECK CONSTRAINT [FK_benefit_tags_benefits]
GO
ALTER TABLE [dbo].[benefit_tags]  WITH CHECK ADD  CONSTRAINT [FK_benefit_tags_tags] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
GO
ALTER TABLE [dbo].[benefit_tags] CHECK CONSTRAINT [FK_benefit_tags_tags]
GO
ALTER TABLE [dbo].[benefits]  WITH CHECK ADD  CONSTRAINT [FK_benefits_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[benefits] CHECK CONSTRAINT [FK_benefits_categories]
GO
ALTER TABLE [dbo].[benefits]  WITH CHECK ADD  CONSTRAINT [FK_Benefits_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[admin_users] ([id])
GO
ALTER TABLE [dbo].[benefits] CHECK CONSTRAINT [FK_Benefits_CreatedBy]
GO
ALTER TABLE [dbo].[benefits]  WITH CHECK ADD  CONSTRAINT [FK_Benefits_UpdatedBy] FOREIGN KEY([updated_by])
REFERENCES [dbo].[admin_users] ([id])
GO
ALTER TABLE [dbo].[benefits] CHECK CONSTRAINT [FK_Benefits_UpdatedBy]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Cabang] FOREIGN KEY([cabang_id])
REFERENCES [dbo].[m_cabang] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_Employees_Cabang]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Golongan] FOREIGN KEY([golongan_id])
REFERENCES [dbo].[m_golongan] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_Employees_Golongan]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_KelJab] FOREIGN KEY([kelompok_jabatan_id])
REFERENCES [dbo].[m_kelompok_jabatan] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_Employees_KelJab]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_OverriddenBy] FOREIGN KEY([role_overridden_by])
REFERENCES [dbo].[admin_users] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_Employees_OverriddenBy]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Pangkat] FOREIGN KEY([pangkat_id])
REFERENCES [dbo].[m_pangkat] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_Employees_Pangkat]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_Employees_Role]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_StatusKeluarga] FOREIGN KEY([status_keluarga_id])
REFERENCES [dbo].[m_status_keluarga] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_Employees_StatusKeluarga]
GO
ALTER TABLE [dbo].[faq]  WITH CHECK ADD  CONSTRAINT [FK_faq_benefits] FOREIGN KEY([benefit_id])
REFERENCES [dbo].[benefits] ([id])
GO
ALTER TABLE [dbo].[faq] CHECK CONSTRAINT [FK_faq_benefits]
GO
USE [master]
GO
